.heading-primary{
  
    font-size: 7rem;
    letter-spacing: 1px;
    color: rgb(199, 0, 0);
}


.paragraph{
 
 font-size: 3rem;
}

.sub-title{
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(3, 28, 172);
}