.heading-primary{
  
    font-size: 7.5vh;
    letter-spacing: 1px;
    color: rgb(224, 224, 224);
   line-height: 11rem;

}


.paragraph{
 
 font-size: 3rem;
}

.sub-title{
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 700;
    color: rgb(15, 48, 233);
}